.ctcContent{
    border-radius: 40px;
    background-color: #fff;
    padding: 40px;
    transition: transform .2s;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}