$bannerAboutUs : url('../../../Image/AboutUs/Banner/FVL-Office.jpg');
.backgroundImage{
    background-image: $bannerAboutUs;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}