/* style.module.css */
.logo{
    display: flex;
    justify-content: space-between;
}
.logoFVL{
    height: 36px;
    width: 140px;
    margin: auto;
}
.logoTPL{
    height: 36px;
    width: 87.9px;
    margin: auto
}
.navbar-link{
    a{
        font-weight: bold;
    }
    a:hover{
    color: orange !important;
}
}