/* style.module.css */
$colortextnav: #f26522;
.logoFVL{
    height: 36px;
    width: 140px;
    margin: auto;
}
.logoTPL{
    height: 36px;
    width: 87.9px;
    margin: auto
}
.navlist{
    a:hover{
        color: $colortextnav;
    }
    a:active{
        color: $colortextnav !important;
    }
    a{
        font-size: 1.1rem;
        margin-right: 15px;
        font-weight: 700;
        color: #858282;
    }
} 