/* style.module.css */
@import '../../index.scss';

.logoFVL{
    height: 36px;
    width: 140px;
    margin: auto;
}
.logoTPL{
    height: 36px;
    width: 87.9px;
    margin: auto
}
.navlist{
    a:hover{
        background: $colorPrimary;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    a:active{
        color: $colorPrimary !important;
    }
    a{
        font-size: 1.1rem;
        margin-right: 15px;
        font-weight: 700;
        color: #858282;
    }
}