$colortextnav: #f26522;
.turkeyDashLink{
    img{
        height: 16px;
        width: 16px;
    }
}
.isoLogo{
    img{
        width: 100px;
        height: auto;
        display: block;
        margin: auto;
        padding-top: 20px;
    }
}
.copyRight{
    text-align: center;
}
.inforIcon{
    padding-right: 10px;
}
.infodetail{
    color: white;
    margin-top: 10px;
}
.namesubject{
    font-size: 1.3rem;
    padding: 10px 0;
    border-bottom: 3px solid #dfdfdf;
    color: $colortextnav;
    line-height: 2rem;
    font-weight: 500;
}
.inforfooter{
    background-color: rgb(79, 79, 79);
}
.btnapply{
    background-color: #f26522;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.btnapply a {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    display: block;
    font-weight: 500;
    text-decoration: none;
}