$colorPrimary: linear-gradient(66.75deg, #00a5cf 0.87%, #d12bec 100%);

@mixin colorPrimaryText{
    background: linear-gradient(66.75deg, #00a5cf 0.87%, #d12bec 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


@mixin bannerDefault ($image){
    background-image: $image;
    width: 100%;
    height: 345px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}