$colorPrimary: linear-gradient(66.75deg, #00a5cf 0.87%, #d12bec 100%);

@mixin colorPrimaryText {
    background: linear-gradient(66.75deg, #00a5cf 0.87%, #d12bec 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


@mixin bannerDefault ($image) {
    background-image: $image;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}