.titlePage {
    background-color: white;
    padding: 40px 60px;  /* Cân chỉnh theo mong muốn của bạn */
    border-radius: 5px; /* Cân chỉnh theo mong muốn của bạn */
    opacity: 0.8; 
    position: relative;
    h1 {
        opacity: 1;
        font-size: 50px;
        font-weight: 800; 
        
    }
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 1;  

}